<div class="container shadow mt-5">
    <h3>Edit Villa</h3>
    <div class="d-grid d-md-flex justify-content-md-end">
        <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="name">Name:</label>
            <input formControlName="name" id="name" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="details">Details:</label>
            <input formControlName="details" id="details" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="sqft">Sqft:</label>
            <input formControlName="sqft" id="sqft" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="occupancy">Occupancy:</label>
            <input formControlName="occupancy" id="occupancy" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="rate">Rate:</label>
            <input formControlName="rate" id="rate" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="amenity">Amenity:</label>
            <input formControlName="amenity" id="amenity" type="text" class="form-control">
        </div>
        <div class="d-md-flex justify-content-md-end">
            <button class="btn btn-primary mt-3 mb-3" type="submit"
            [disabled]="!form.valid">Update</button>
        </div>
    </form>
</div>